@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
/* forma de aplicar reset css sem arquivo externo */
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  box-sizing: border-box;
  background-color: #000000;
  color: #f6f6f6;
}

.letraAzul {
  color: #22D4FD;
}

.apresentacao {
  margin: 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.apresentacao__conteudo {
  width: 615px;
}

.apresentacao__titulo {
  font-family: "Krona One", serif;
  font-size: 36px;
}

.apresentacao__paragrafo {
  font-family: "Montserrat", serif;
  font-size: 24px;
}