@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
/* forma de aplicar reset css sem arquivo externo */
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  box-sizing:border-box;
  background-color: #000000;
  color: #f6f6f6;
}

.letraAzul {
  color: #22D4FD;
}

.apresentacao {
  margin: 5% 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.apresentacao__conteudo {
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.apresentacao__titulo {
  font-family: "Krona One", serif;
  font-size: 36px;
  line-height: 56px;
}

.apresentacao__paragrafo {
  font-family: "Montserrat", serif;
  font-size: 24px;
  line-height: 36px;
}

.apresentacao__link {
  display: flex;
  justify-content: space-between;
}

.botoes__link {
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  background-color: #22D4FD;
  color:#000000;
  width: 280px;
  text-decoration: none;
  border-radius: 16px;
  padding: 21.5px 0;
}